.app-container {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.language-switcher {
  margin:   20px;
  padding: 20px;
}

.language-switcher button {
  margin-right: 10px;
}
